In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('ga_registered_voters.csv')

In [49]:
# clean columns
df.columns = map(str.lower, df.columns)
df.columns = df.columns.str.strip() 
df.columns = df.columns.str.replace('        ', ' ')
df.columns = df.columns.str.replace(' ', '_')

In [51]:
blk_wmn = df.sort_values('bh_____female_voters', ascending=False)

In [52]:
df['gender_gap'] = df['bh_____female_voters'] - df['bh_____male_voters']

In [55]:
gap = df.sort_values('gender_gap', ascending=False)

In [56]:
gap

,county_id,county_name,ai__male__voters,ai_female_voters,ai_unknown_voters,ap____male__voters,ap_female_voters,ap_unknown_voters,bh_____male_voters,bh_____female_voters,...,wh_female__voters,wh_unknown_voters,ot_male__voters,ot______female__voters,ot_unknown_voters,uk_male__voters,uk_female_voters,uk_unknown_voters,total_voters,gender_gap
159,GRAND TOTALS:,NaN,8346,8291,52,92511,102307,766,978607,1240950,...,2030597,5179,67289,81171,590,318826,312983,6013,7389343,262343
43,044,DEKALB,673,672,1,8248,9545,19,126344,156986,...,90462,99,7353,9347,27,23967,24058,131,555416,30642
59,060,FULTON,966,902,8,14302,15312,165,158738,187333,...,157670,760,9649,11439,157,43357,43793,1522,822600,28595
32,033,COBB,668,673,1,8746,9751,35,62601,80909,...,151541,283,6694,8445,48,19887,20891,382,544355,18308
66,067,GWINNETT,786,771,8,28480,29905,302,73509,91550,...,121095,553,9130,10839,120,27920,29865,1099,595911,18041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,131,TALIAFERRO,0,0,0,0,1,0,346,332,...,252,0,7,5,0,29,20,1,1255,-14
104,105,MURRAY,20,18,0,21,29,1,76,59,...,10289,14,92,86,0,885,786,4,23116,-17
92,093,LUMPKIN,66,43,0,45,59,0,110,88,...,10479,12,120,115,0,933,727,7,22954,-22
41,042,DAWSON,26,37,0,68,77,0,78,50,...,9984,10,104,88,0,820,778,12,22086,-28
5,006,BANKS,15,11,0,55,67,1,149,116,...,5803,10,57,49,0,494,383,4,13113,-33

In [57]:
pct = pd.read_csv('/Users/toddhendricks/Downloads/2016-precinct-president.csv')

/Users/toddhendricks/miniconda3/envs/dagster/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (13,17,19,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [72]:
ga = pct[pct.state == 'Georgia']
ga.columns

Index(['year', 'stage', 'special', 'state', 'state_postal', 'state_fips',
       'state_icpsr', 'county_name', 'county_fips', 'county_ansi',
       'county_lat', 'county_long', 'jurisdiction', 'precinct', 'candidate',
       'candidate_normalized', 'office', 'district', 'writein', 'party',
       'mode', 'votes', 'candidate_opensecrets', 'candidate_wikidata',
       'candidate_party', 'candidate_last', 'candidate_first',
       'candidate_middle', 'candidate_full', 'candidate_suffix',
       'candidate_nickname', 'candidate_fec', 'candidate_fec_name',
       'candidate_google', 'candidate_govtrack', 'candidate_icpsr',
       'candidate_maplight'],
      dtype='object')

In [77]:
cols = ['county_name','precinct','candidate_fec_name','candidate_party','votes']

In [78]:
fulton = ga[ga.county_name == 'Fulton County']
fulton = fulton[cols]

In [86]:
fulton.candidate_fec_name = fulton.candidate_fec_name.str.replace('CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE', 'hrc').str.replace('TRUMP, DONALD J. / MICHAEL R. PENCE', 'trump')

<ipython-input-86-6299ee97f30b>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  fulton.candidate_fec_name = fulton.candidate_fec_name.str.replace('CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE', 'hrc').str.replace('TRUMP, DONALD J. / MICHAEL R. PENCE', 'trump')

In [94]:
fulton = fulton[fulton.candidate_fec_name == ('hrc' or 'trump')]
fulton = fulton.sort_values('votes', ascending=False)
fulton.head(10)

,county_name,county_fips,precinct,candidate_fec_name,candidate_party,votes
590662,Fulton County,13121.0,FA01A,hrc,NaN,3056
591322,Fulton County,13121.0,SC15,hrc,NaN,3028
591910,Fulton County,13121.0,UC02A,hrc,NaN,2709
591382,Fulton County,13121.0,SC18B,hrc,NaN,2657
589258,Fulton County,13121.0,06D,hrc,NaN,2491
591154,Fulton County,13121.0,SC07A,hrc,NaN,2358
591334,Fulton County,13121.0,SC16,hrc,NaN,2230
590626,Fulton County,13121.0,EP03,hrc,NaN,2220
591082,Fulton County,13121.0,SC01B,hrc,NaN,2204
589990,Fulton County,13121.0,11B,hrc,NaN,2048

precinct   candidate_fec_name
01A        CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE    1898
           JOHNSON, JOHN FITZGERALD MR.                         97
           TRUMP, DONALD J. / MICHAEL R. PENCE                 173
01B        CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE    2304
           JOHNSON, JOHN FITZGERALD MR.                        125
                                                              ...
Write-ins  FOX, CHERUNDA LYNN                                    3
           MCMULLIN, EVAN / MINDY FINN                         409
           SMITH, RYAN                                           2
           STEIN, JILL                                         361
           WILSON, WILLIE                                        3
Name: votes, Length: 1045, dtype: int64